<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/game.css') }}" rel="stylesheet" type="text/css"/>
    <title>Jeu de Cartes</title>
</head>
<body bgcolor="green">
    <h1>Deck de cartes</h1>
    <div class="hand">
        {% for card in hand %}
            <div class="card {% if card.getColor() == 'Carreaux' or card.getColor() == 'Coeur' %} red {% else %} black {% endif %}">
                <div class="value">{{ card.getValue() }}</div>
                <div class="suit">
                    {% if card.getColor() == 'Carreaux' %}
                        &diams;
                    {% elseif card.getColor() == 'Coeur' %}
                        &hearts;
                    {% elseif card.getColor() == 'Pique' %}
                        &spades;
                    {% elseif card.getColor() == 'Trèfle' %}
                        &clubs;
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <button>
        <a href="{{ path('start', {'sort': true}) }}"> Trier </a>
    </button>
    <button>
        <a href="{{ path('start') }}"> Relancer </a>
    </button>
</body>
</html>
